<%= stylesheet_link_tag "tools_page.css" %>
 <%= javascript_include_tag 'custom/home_page.js' %>

<div class="container mt-4">
        <div class="row align-items-center">
          <div class="col-12 col-md-5 order-md-2">
            <div class="img-skewed img-skewed-start">

                <!-- Image -->
                <%= image_tag "tools_cartoon.png", width:"400", class:"screenshot img-fluid my-4 item hidden", alt:"gazelle tools images" %>
            </div>
          </div>
          <div class="col-12 col-md-7 order-md-1">

            <!-- Heading -->
            <h1 class="display-4">
              Gazelle's Tools. <br>
              <span class="text-primary">For Your Every Online Need.</span>
            </h1>

            <!-- Text -->
            <p class="lead text-muted mb-0">
              Redefining online marketing and anaylitics. Gazelle's tools cover any need to grow your business online and boost your search-engine optimization (SEO).
            </p>
        </div>
    </div> <!-- / .row -->
</div>
<div class="spacer" style="background-image: url(<%= asset_path 'svg/tools_wave.svg' %>)"></div>

<section class="pt-5 pt-md-11 blue-background">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!-- Heading -->
            <h2 class="mb-1 display-4 text-light">
              Gazelle's Tools
            </h2>

            <!-- Text -->
            <p class="fs-lg mb-5 mb-md-8 text-light">
              Accurate tools for any marketing need created from professionals in the business.
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4">

            <!-- Card -->
            <a class="card text-reset border-0 text-decoration-none lift lift-lg shadow-light-lg mb-5 mb-md-8" href="/tools/tagging">
              <%= image_tag "topictagging.png", class:"card-img-top", alt:"topic tagging tool image" %>
              <div class="card-body d-flex align-items-center py-4">

                <!-- Heading -->
                <div class="mb-0 me-auto">
                    <h5 class="align-bottom mb-0">
                        Topic Tagging
                    </h5>
                    <p class="align-middle mb-0">Automatically generate topics and keywords for articles and blogs.</p>
                </div>
                

                <!-- Chevron -->
                <span class="collapse-chevron text-gray-400">
                    <%= bootstrap_icon "chevron-right", fill: "text-gray-400" %>
                </span>

              </div>
            </a>

          </div>
          <div class="col-12 col-md-6 col-lg-4">

            <!-- Card -->
            <a class="card text-reset border-0 text-decoration-none lift lift-lg shadow-light-lg mb-5 mb-md-8" href="/tools/keywords">
              <%= image_tag "keyword.png", class:"card-img-top", alt:"keyword tool image" %>
              <div class="card-body d-flex align-items-center py-4">

                <!-- Heading -->
                <div class="mb-0 me-auto">
                    <h5 class="align-bottom mb-0">
                        Keywords
                    </h5>
                    <p class="align-middle mb-0">Find top keywords surrounding a given subject or topic.</p>
                </div>

                <!-- Chevron -->
                <span class="collapse-chevron text-gray-400">
                    <%= bootstrap_icon "chevron-right", fill: "text-gray-400" %>
                </span>

              </div>
            </a>

          </div>
          <div class="col-12 col-md-6 col-lg-4">

            <!-- Card -->
            <a class="card text-reset border-0 text-decoration-none lift lift-lg shadow-light-lg mb-5 mb-md-8" href="/tools/page_inspect">
              <%= image_tag "seo.png", class:"card-img-top", alt:"topic tagging tool image" %>
              <div class="card-body d-flex align-items-center py-4">

                <!-- Heading -->
                <div class="mb-0 me-auto">
                    <h5 class="align-bottom mb-0">
                        Page Inspect
                    </h5>
                    <p class="align-middle mb-0">Inspect a website's keywords and SEO tactics. Useful for finding a way to outrank competitors.</p>
                </div>
                

                <!-- Chevron -->
                <span class="collapse-chevron text-gray-400">
                    <%= bootstrap_icon "chevron-right", fill: "text-gray-400" %>
                </span>

              </div>
            </a>

          </div>
          <div class="col-12 col-md-6 col-lg-4">

            <!-- Card -->
            <a class="card text-reset border-0 text-decoration-none lift lift-lg shadow-light-lg mb-5 mb-md-8" href="/tools/page_inspect">
              <%= image_tag "speed_insights_main.png", class:"card-img-top", alt:"speed insights tool image" %>
              <div class="card-body d-flex align-items-center py-4">

                <!-- Heading -->
                <div class="mb-0 me-auto">
                    <h5 class="align-bottom mb-0">
                        Speed Insights
                    </h5>
                    <p class="align-middle mb-0">Test a websites performance through various speed tests to better understand a users experience.</p>
                </div>
                

                <!-- Chevron -->
                <span class="collapse-chevron text-gray-400">
                    <%= bootstrap_icon "chevron-right", fill: "text-gray-400" %>
                </span>

              </div>
            </a>

          </div>
        </div> <!-- / .row -->
    </div>
    </section>