<%= stylesheet_link_tag "tools_page.css" %>
<%= stylesheet_link_tag "searchbox.css" %>
<%= stylesheet_link_tag "tools_background" %>
<%= stylesheet_link_tag "keyword_page.css" %>
<%= javascript_include_tag 'custom/keyword_page.js' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <div class="text-bg-secondary">
        <div class="py-6 row justify-content-center search-box-image">
            <div class="col-12 col-md-10 col-lg-8">
                <h2 class="display-4">Keywords</h2>
                <p class="">Find top keywords surrounding a given subject or topic.</p>
                <%= form_for(tools_keywords_path, method: "get", class:"card card-sm", id:"myform") do |f| %>
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <div class="col">
                            <%= text_field_tag(:search, "", class:"form-control form-control-lg form-control-borderless", placeholder:"Subject")  %>                            
                        </div>
                        <div class="col-auto">
                            <%= f.button "Search", :name => nil, class: "btn btn-lg btn-primary" do %>
                                <span class="show-when-enabled">Search</span>
                                <span class="show-when-disabled"><i class='fa fa-spinner fa-spin'></i>  Loading</span>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
<div class="blue-gradient-bg pt-4">
<% if (@keywords_response != nil) %>
<div class="container">
        <div class="card mb-4">
            <div class="card-header">
                <h3 class="display-5">Search: </h3>
            </div>
            <div class="card-body">
                <p class="card-text"><%= @keywords_search %></p>
            </div>
        </div>
        <h3 class="display-5">Result</h3>
        <div class="row">
        <div class="col-6">
            <div class="table-responsive">
                <table class="table table-hover table-stripe table-bordered table-light">
                    <thead class="bg-light">
                        <tr>
                        <th scope="col col-1">#</th>
                        <th scope="col">Keywords</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @keywords_response["googleGuggestedKeywords"].each_with_index do |keyword, index| %>
                        <tr>
                        <th scope="row"><%= index + 1 %></th>
                        <td><%= keyword %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
</div>
<% end %>
<% if @keywords_response != nil %>
    </div>
    <div class="spacer" style="background-image: url(<%= asset_path 'svg/white-wave.svg' %>)"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <h1 class="display-4 mt-3">Using Keywords</h1>
                <p class="text-muted">
                Keyword research is an important part of SEO. If you are able to properly implement keywords into your website, the amount of natural traffic drive to the website will increase.
                </p>
                <p class="mt-4 text-muted"><strong>How to Use the Tool.</strong>
                To generate related keywords, add a subject or topic to the search box. The result will be a list of the most relavent keywords that surround the subject or topic. Start to encorporate the keywords into your website content.
                </p>
                <p class="mt-4 text-muted"><strong>Adding Keywords to Your Page.</strong>
                Once you have the keywords generate by Gazelle's tool, make sure to add them to your websites pages. Over time, Google's spiders will crawl the web and then increase your page's rank due to proper keywords.
                </p>
            </div>
            <div class="col-12 col-lg-4">
                <%= image_tag "keyword_image.png", height:"450", class:"mx-auto d-block mb-4", alt:"keyword graphic image" %>
            </div>
        </div>
    </div>
    
    <%= render partial: '/shared/suggusted_tools', locals: {current_page: "keywords"} %>
<% else %>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <h1 class="display-4 mt-3">Using Keywords</h1>
                <p class="text-muted">
                Keyword research is an important part of SEO. If you are able to properly implement keywords into your website, the amount of natural traffic drive to the website will increase.
                </p>
                <p class="mt-4 text-muted"><strong>How to Use the Tool.</strong>
                To generate related keywords, add a subject or topic to the search box. The result will be a list of the most relavent keywords that surround the subject or topic. Start to encorporate the keywords into your website content.
                </p>
                <p class="mt-4 text-muted"><strong>Adding Keywords to Your Page.</strong>
                Once you have the keywords generate by Gazelle's tool, make sure to add them to your websites pages. Over time, Google's spiders will crawl the web and then increase your page's rank due to proper keywords.
                </p>
            </div>
            <div class="col-12 col-lg-4">
                <%= image_tag "keyword_image.png", height:"450", class:"mx-auto d-block mb-4", alt:"keyword graphic image" %>
            </div>
        </div>
    </div>
    <%= render partial: '/shared/suggusted_tools', locals: {current_page: "keywords"} %>
    </div>
<% end %>

</div>
</div>