    <%= stylesheet_link_tag "tools_page.css" %>
    <%= stylesheet_link_tag "footer.css" %>
    <%= stylesheet_link_tag "home_page.css" %>
    <%= javascript_include_tag 'custom/home_page.js' %>

    <div class="container mt-6 mb-6">
        <div class="row align-items-center">
          <div class="col-12 col-md-5 order-md-2">

            <!-- Image -->
            <img src="/assets/growth.png" class="img-fluid mb-6 mb-md-0" alt="...">

          </div>
          <div class="col-12 col-md-7 order-md-1">

            <!-- Heading -->
            <h1 class="display-5">
              Let Your Buisness Grow. <br>
              <span class="text-primary">Marketing Made Easy.</span>
            </h1>

            <!-- Text -->
            <p class="lead text-muted mb-0">
              Redefining online marketing and anaylitics. Gazelle's tools will help you grow your business online and boost your search-engine optimization (SEO).
            </p>
            <a href="/tools/index" class="btn btn-primary lift my-3 p-3">
                  Try it now <%= bootstrap_icon "arrow-right", fill: "#ffffff" %></i>
            </a>
            </div>
        </div>
    </div>
    <section class="py-8 py-md-11 border-bottom py-3">
        <div class="container py-5">
          <div class="row">
            <div class="col-12 col-md-4 aos-init aos-animate" data-aos="fade-up">

              <!-- Icon -->
              <div class="icon text-primary mb-3">
                <svg width="48" height="48" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M7 3h10a4 4 0 110 8H7a4 4 0 110-8zm0 6a2 2 0 100-4 2 2 0 000 4z" fill="#335EEA"></path><path d="M7 13h10a4 4 0 110 8H7a4 4 0 110-8zm10 6a2 2 0 100-4 2 2 0 000 4z" fill="#335EEA" opacity=".3"></path></g></svg>            </div>

              <!-- Heading -->
              <h3>
                Built for developers
              </h3>

              <!-- Text -->
              <p class="text-muted mb-6 mb-md-0">
                Landkit is built to make your life easier. Variables, build tooling, documentation, and reusable components.
              </p>

            </div>
            <div class="col-12 col-md-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="50">

              <!-- Icon -->
              <div class="icon text-primary mb-3">
                <svg width="48" height="48" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M5.5 4h4A1.5 1.5 0 0111 5.5v1A1.5 1.5 0 019.5 8h-4A1.5 1.5 0 014 6.5v-1A1.5 1.5 0 015.5 4zm9 12h4a1.5 1.5 0 011.5 1.5v1a1.5 1.5 0 01-1.5 1.5h-4a1.5 1.5 0 01-1.5-1.5v-1a1.5 1.5 0 011.5-1.5z" fill="#335EEA"></path><path d="M5.5 10h4a1.5 1.5 0 011.5 1.5v7A1.5 1.5 0 019.5 20h-4A1.5 1.5 0 014 18.5v-7A1.5 1.5 0 015.5 10zm9-6h4A1.5 1.5 0 0120 5.5v7a1.5 1.5 0 01-1.5 1.5h-4a1.5 1.5 0 01-1.5-1.5v-7A1.5 1.5 0 0114.5 4z" fill="#335EEA" opacity=".3"></path></g></svg>            </div>

              <!-- Heading -->
              <h3>
                Designed to be modern
              </h3>

              <!-- Text -->
              <p class="text-muted mb-6 mb-md-0">
                Designed with the latest design trends in mind. Landkit feels modern, minimal, and beautiful.
              </p>

            </div>
            <div class="col-12 col-md-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

              <!-- Icon -->
              <div class="icon text-primary mb-3">
                <svg width="48" height="48" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M17.272 8.685a1 1 0 111.456-1.37l4 4.25a1 1 0 010 1.37l-4 4.25a1 1 0 01-1.456-1.37l3.355-3.565-3.355-3.565zm-10.544 0L3.373 12.25l3.355 3.565a1 1 0 01-1.456 1.37l-4-4.25a1 1 0 010-1.37l4-4.25a1 1 0 011.456 1.37z" fill="#335EEA"></path><rect fill="#335EEA" opacity=".3" transform="rotate(15 12 12)" x="11" y="4" width="2" height="16" rx="1"></rect></g></svg>            </div>

              <!-- Heading -->
              <h3>
                Documentation for everything
              </h3>

              <!-- Text -->
              <p class="text-muted mb-0">
                We've written extensive documentation for components and tools, so you never have to reverse engineer anything.
              </p>

            </div>
          </div> <!-- / .row -->
        </div> <!-- / .container -->
    </section>
    <section class="pt-5 pt-md-11 bg-gradient-light-white">
      <div class="container">
        <div class="row align-items-center justify-content-between mb-8 mb-md-11">
          <div class="col-12 col-md-6 order-md-2 aos-init aos-animate" data-aos="fade-left">

            <!-- Heading -->
            <h2>
              The most useful resource <br> 
              <div class="type-block">
                <div class="hidden hidden-typer">
                  ever created for developers.
                </div>
                </div>
              
            </h2>

            <!-- Text -->
            <p class="fs-lg text-muted mb-6">
              Using Landkit to build your site means never worrying about designing another page or cross browser compatibility. Our ever-growing library of components and pre-designed layouts will make your life easier.
            </p>

            <!-- List -->
            <div class="row">
              <div class="col-12 col-lg-6">

                <!-- Item -->
                <div class="d-flex">

                  <!-- Check -->
                  <div class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                    <%= bootstrap_icon "check", fill: "#0d6efd" %>
                  </div>

                  <!-- Text -->
                  <p class="text-success">
                    Lifetime updates
                  </p>

                </div>

                <!-- Item -->
                <div class="d-flex">

                  <!-- Check -->
                  <div class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                    <%= bootstrap_icon "check", fill: "#0d6efd" %>
                  </div>

                  <p class="text-success mb-lg-0">
                    Tons of assets
                  </p>

                </div>

              </div>
              <div class="col-12 col-lg-6 mb-6 mb-md-0">

                <!-- Item -->
                <div class="d-flex">

                  <!-- Check -->
                 <div class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                    <%= bootstrap_icon "check", fill: "#0d6efd" %>
                  </div>

                  <!-- Text -->
                  <p class="text-success">
                    Tech support
                  </p>

                </div>

                <!-- Item -->
                <div class="d-flex">

                  <!-- Check -->
                  <div class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                    <%= bootstrap_icon "check", fill: "#0d6efd" %>
                  </div>

                  <!-- Text -->
                  <p class="text-success mb-0">
                    Integration ready
                  </p>

                </div>

              </div>
            </div> <!-- / .row -->

          </div>
          <div class="col-12 col-md-6 col-lg-5 order-md-1 aos-init aos-animate" data-aos="fade-right">

            <!-- Card -->
            <div class="card border-0 text-center shadow-light-lg lift lift-lg hidden">

              <!-- Image -->
              <img src="/assets/marketing_blue.png" alt="gazelle tool icon" class="card-img-top">

              <!-- Shape -->
              <div class="position-relative">
                <div class="shape shape-bottom shape-fluid-x text-white">
                  <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path></svg>                </div>
              </div>

              <!-- Body -->
              <div class="card-body">
                  <h2 class="card-title">Browse Our Tools</h2>
                  <p class="card-text">
                    We've got all the tools to help you get started.
                  </p>
                  <div class="mt-4">
                    <%= link_to "Try Now", tools_index_path, class:"btn w-100 btn-primary lift" %>
                  </div>
                </form>

              </div>

            </div>

          </div>
        </div> <!-- / .row -->
        <div class="row align-items-center py-6">
          <div class="col-12 col-md-7 col-lg-6 aos-init aos-animate" data-aos="fade-right">

            <!-- Heading -->
            <h2>
              We have lots of experience <br>
              <span class="text-primary">building Bootstrap themes</span>.
            </h2>

            <!-- Text -->
            <p class="fs-lg text-muted mb-6">
              We've built well over a dozen Bootstrap themes and sold tens of thousands of copies.
            </p>

            <!-- List -->
            <div class="d-flex">

              <!-- Icon -->
              <div class="icon text-primary">
                <svg width="48" height="48" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M12 8H8a4 4 0 00-4 4v1a3 3 0 003 3v2a5 5 0 01-5-5v-1a6 6 0 016-6h4V4.728a.5.5 0 01.8-.4l2.856 2.133a.5.5 0 01-.001.802l-2.857 2.121A.5.5 0 0112 8.983V8z" fill="#335EEA"></path><path d="M12.058 16H16a4 4 0 004-4v-1a3 3 0 00-3-3V6a5 5 0 015 5v1a6 6 0 01-6 6h-3.942v.983a.5.5 0 01-.798.401l-2.857-2.12a.5.5 0 010-.803l2.856-2.134a.5.5 0 01.8.401V16z" fill="#335EEA" opacity=".3"></path></g></svg>              </div>

              <div class="ms-5">

                <!-- Heading -->
                <h4 class="mb-1">
                  Bootstrap users since the beginning
                </h4>

                <!-- Text -->
                <p class="text-muted mb-6">
                  We've been developing with Bootstrap since it was publicly released in 2011.
                </p>

              </div>

            </div>
            <div class="d-flex">

              <!-- Icon -->
              <div class="icon text-primary">
                <svg width="48" height="48" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"></path><path d="M17.272 8.685a1 1 0 111.456-1.37l4 4.25a1 1 0 010 1.37l-4 4.25a1 1 0 01-1.456-1.37l3.355-3.565-3.355-3.565zm-10.544 0L3.373 12.25l3.355 3.565a1 1 0 01-1.456 1.37l-4-4.25a1 1 0 010-1.37l4-4.25a1 1 0 011.456 1.37z" fill="#335EEA"></path><rect fill="#335EEA" opacity=".3" transform="rotate(15 12 12)" x="11" y="4" width="2" height="16" rx="1"></rect></g></svg>              </div>

              <div class="ms-5">

                <!-- Heading -->
                <h4 class="mb-1">
                  Deep understanding of Bootstrap
                </h4>

                <!-- Text -->
                <p class="text-muted mb-6 mb-md-0">
                  We've watched Bootstrap grow up over the years and understand it better than almost anyone.
                </p>

              </div>

            </div>

          </div>
          <div class="col-12 col-md-5 col-lg-6">

           
              <!-- Image -->
              <div class="img-skewed img-skewed-start">

                <!-- Image -->
                <img src="/assets/dashkit.jpeg" class="screenshot img-fluid img-skewed-item hidden" alt="...">

              </div>

            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
    <!-- Testomonies -->
    <section class="mt-6">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 text-center">

              <!-- Heading -->
          <h2>
            Our customers are our biggest fans.
          </h2>

              <!-- Text -->
          <p class="fs-lg text-muted mb-5 mb-md-9">
            We don't like to brag, but we don't mind letting our customers do it for us. Here are a few nice things folks have said about our themes over the years.
          </p>

        </div>
      </div>
      <div id="carouselExampleControls" class="carousel slide carousel-dark" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container px-5">
            <div class="card border-0 text-center">
              <div class="card-body">
                <img class="rounded-circle shadow-1-strong mb-4 mx-auto d-block" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp" alt="avatar" style="width: 150px;">
                <h5 class="mb-3">Maria Kate</h5>
                <p>Photographer</p>
                <p class="text-muted">
                    <%= bootstrap_icon "quote", fill: "#0d6efd" %>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus et deleniti
                    nesciunt sint eligendi reprehenderit reiciendis, quibusdam illo, beatae quia fugit
                    consequatur laudantium velit magnam error. Consectetur distinctio fugit
                    doloremque.
                </p>
                <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                  <li><%= bootstrap_icon "star-fill", fill: "#ffc107" %></li>
                  <li><%= bootstrap_icon "star-fill", fill: "#ffc107" %></li>
                  <li><%= bootstrap_icon "star-fill", fill: "#ffc107" %></li>
                  <li><%= bootstrap_icon "star-fill", fill: "#ffc107" %></li>
                  <li><%= bootstrap_icon "star", fill: "#ffc107" %></li>
                </ul>
              </div>
            </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container px-5">
              <div class="card-body">
                  <div class="card border-0 text-center">
                    <div class="card-body">
                      <img class="rounded-circle shadow-1-strong mb-4 mx-auto d-block" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar" style="width: 150px;">
                      <h5 class="mb-3">John Doe</h5>
                      <p>Web Developer</p>
                      <p class="text-muted">
                          <%= bootstrap_icon "quote", fill: "#0d6efd" %>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus et deleniti
                      nesciunt sint eligendi reprehenderit reiciendis.
                      </p>
                      <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                        <li><%= bootstrap_icon "star-fill", fill: "#ffc107" %></li>
                        <li><%= bootstrap_icon "star-fill", fill: "#ffc107" %></li>
                        <li><%= bootstrap_icon "star-fill", fill: "#ffc107" %></li>
                        <li><%= bootstrap_icon "star-fill", fill: "#ffc107" %></li>
                        <li><%= bootstrap_icon "star-fill", fill: "#ffc107" %></li>
                      </ul>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container px-5">
              <div class="card border-0 text-center">
                <div class="card-body">
                  <img class="rounded-circle shadow-1-strong mb-4 mx-auto d-block" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp" alt="avatar" style="width: 150px;">
                  <h5 class="mb-3">Anna Deynah</h5>
                  <p>UX Designer</p>
                  <p class="text-muted">
                      <%= bootstrap_icon "quote", fill: "#0d6efd" %>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus et deleniti
                      nesciunt sint eligendi reprehenderit reiciendis, quibusdam illo, beatae quia fugit
                      consequatur laudantium velit magnam error. Consectetur distinctio fugit
                      doloremque.
                  </p>
                  <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
                    <li><%= bootstrap_icon "star-fill", fill: "#ffc107" %></li>
                    <li><%= bootstrap_icon "star-fill", fill: "#ffc107" %></li>
                    <li><%= bootstrap_icon "star-fill", fill: "#ffc107" %></li>
                    <li><%= bootstrap_icon "star-fill", fill: "#ffc107" %></li>
                    <li><%= bootstrap_icon "star-fill", fill: "#ffc107" %></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </section>
    <div class="spacer blue-wave-top"></div>
    <section class="py-8 py-md-11 bg-dark">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-8">
            <div class="card text-center border-0 bg-dark">
              <div class="card-body">
                <!-- Badge -->
                <span class="badge rounded-pill bg-gray-700-soft mb-4">
                  <span class="h6 fw-bold text-uppercase">Get started</span>
                </span>

                <!-- Heading -->
                <h1 class="display-4 text-white">
                  Get Landkit and save your time.
                </h1>

                <!-- Text -->
                <p class="fs-lg text-muted mb-6 mb-md-8">
                  Stop wasting time trying to do it the "right way" and build a site from scratch. Landkit is faster, easier, and you still have complete control.
                </p>

                <!-- Button -->
                <a href="/tools/index" class="btn btn-primary lift py-3">
                  Try it now <%= bootstrap_icon "arrow-right", fill: "#ffffff" %></i>
                </a>
              </div>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
     <div class="spacer blue-wave-bottom"></div>